In [49]:
fips_file = './fips.txt'

In [50]:
import pandas as pd

In [51]:
# get full data
with open(fips_file, 'r') as f:
    text = f.read()

In [52]:
text_top = text.split('state-level')[0]
states_text = text.split('state-level')[-1].split('county-level')[0]
counties_text = text.split('state-level')[-1].split('county-level')[-1]

# more cleaning
states_text = states_text.split('-----------')[-1].split(' -------')[-1]
counties_text = counties_text.split('--------------')[-1]

In [53]:
#print(counties_text)

## US States

In [54]:
# clean states
print(states_text)

       01        ALABAMA
       02        ALASKA
       04        ARIZONA
       05        ARKANSAS
       06        CALIFORNIA
       08        COLORADO
       09        CONNECTICUT
       10        DELAWARE
       11        DISTRICT OF COLUMBIA
       12        FLORIDA
       13        GEORGIA
       15        HAWAII
       16        IDAHO
       17        ILLINOIS
       18        INDIANA
       19        IOWA
       20        KANSAS
       21        KENTUCKY
       22        LOUISIANA
       23        MAINE
       24        MARYLAND
       25        MASSACHUSETTS
       26        MICHIGAN
       27        MINNESOTA
       28        MISSISSIPPI
       29        MISSOURI
       30        MONTANA
       31        NEBRASKA
       32        NEVADA
       33        NEW HAMPSHIRE
       34        NEW JERSEY
       35        NEW MEXICO
       36        NEW YORK
       37        NORTH CAROLINA
       38        NORTH DAKOTA
       39        OHIO
       40        OKLAHOMA
       41        OREGON
       42        PENNSYLVANIA
       44        RHODE ISLAND
       45        SOUTH CAROLINA
       46        SOUTH DAKOTA
       47        TENNESSEE
       48        TEXAS
       49        UTAH
       50        VERMONT
       51        VIRGINIA
       53        WASHINGTON
       54        WEST VIRGINIA
       55        WISCONSIN
       56        WYOMING

In [55]:
states = {'id':[], 'state':[]}

for l in states_text.split('\n'):
    ll = l.split('      ')
    for lll in ll:
        if len(lll.strip()) > 0:
            if lll.strip().isdigit():
                states['id'].append(lll.strip())
            else:
                states['state'].append(lll.strip())

In [56]:
states_df = pd.DataFrame(states)

In [57]:
states_df

    id                 state
0   01               ALABAMA
1   02                ALASKA
2   04               ARIZONA
3   05              ARKANSAS
4   06            CALIFORNIA
5   08              COLORADO
6   09           CONNECTICUT
7   10              DELAWARE
8   11  DISTRICT OF COLUMBIA
9   12               FLORIDA
10  13               GEORGIA
11  15                HAWAII
12  16                 IDAHO
13  17              ILLINOIS
14  18               INDIANA
15  19                  IOWA
16  20                KANSAS
17  21              KENTUCKY
18  22             LOUISIANA
19  23                 MAINE
20  24              MARYLAND
21  25         MASSACHUSETTS
22  26              MICHIGAN
23  27             MINNESOTA
24  28           MISSISSIPPI
25  29              MISSOURI
26  30               MONTANA
27  31              NEBRASKA
28  32                NEVADA
29  33         NEW HAMPSHIRE
30  34            NEW JERSEY
31  35            NEW MEXICO
32  36              NEW YORK
33  37        NORTH CAROLINA
34  38          NORTH DAKOTA
35  39                  OHIO
36  40              OKLAHOMA
37  41                OREGON
38  42          PENNSYLVANIA
39  44          RHODE ISLAND
40  45        SOUTH CAROLINA
41  46          SOUTH DAKOTA
42  47             TENNESSEE
43  48                 TEXAS
44  49                  UTAH
45  50               VERMONT
46  51              VIRGINIA
47  53            WASHINGTON
48  54         WEST VIRGINIA
49  55             WISCONSIN
50  56               WYOMING

In [58]:
# save dataframe
states_df.to_csv('./us_state_codes.csv',index=False)

## US Counties

In [59]:
counties = {'id':[], 'county':[]}

for l in counties_text.split('\n'):
    ll = l.split('    ')
    for lll in ll:
        if len(lll.strip()) > 0:
            if lll.strip().isdigit():
                counties['id'].append(lll.strip())
            else:
                if '(' not in lll:
                    c = lll.strip()
                    counties['county'].append(c)
                else:
                    c = lll.split('(')[0] # take out any notes
                    c = c.strip()
                    # > 0?
                    if len(c) > 0:
                        counties['county'].append(c)
    # check
    if len(counties['id']) != len(counties['county']):
        print('mis match length')
        import sys; sys.exit()

In [60]:
#counties['id'][-5:], counties['county'][-5:]

In [61]:
counties_df = pd.DataFrame(counties)

In [62]:
counties_df

         id             county
0     01000            Alabama
1     01001     Autauga County
2     01003     Baldwin County
3     01005     Barbour County
4     01007        Bibb County
...     ...                ...
3190  56037  Sweetwater County
3191  56039       Teton County
3192  56041       Uinta County
3193  56043    Washakie County
3194  56045      Weston County

[3195 rows x 2 columns]

In [63]:
# save dataframe
counties_df.to_csv('./us_county_codes.csv',index=False)