In [152]:
fips_file = './fips.txt'

In [153]:
import pandas as pd
import geopandas
import json

In [154]:
# get full data
with open(fips_file, 'r') as f:
    text = f.read()

In [155]:
text_top = text.split('state-level')[0]
states_text = text.split('state-level')[-1].split('county-level')[0]
counties_text = text.split('state-level')[-1].split('county-level')[-1]

# more cleaning
states_text = states_text.split('-----------')[-1].split(' -------')[-1]
counties_text = counties_text.split('--------------')[-1]

In [156]:
#print(counties_text)

## US States

In [157]:
# clean states
print(states_text)

       01        ALABAMA
       02        ALASKA
       04        ARIZONA
       05        ARKANSAS
       06        CALIFORNIA
       08        COLORADO
       09        CONNECTICUT
       10        DELAWARE
       11        DISTRICT OF COLUMBIA
       12        FLORIDA
       13        GEORGIA
       15        HAWAII
       16        IDAHO
       17        ILLINOIS
       18        INDIANA
       19        IOWA
       20        KANSAS
       21        KENTUCKY
       22        LOUISIANA
       23        MAINE
       24        MARYLAND
       25        MASSACHUSETTS
       26        MICHIGAN
       27        MINNESOTA
       28        MISSISSIPPI
       29        MISSOURI
       30        MONTANA
       31        NEBRASKA
       32        NEVADA
       33        NEW HAMPSHIRE
       34        NEW JERSEY
       35        NEW MEXICO
       36        NEW YORK
       37        NORTH CAROLINA
       38        NORTH DAKOTA
       39        OHIO
       40        OKLAHOMA
       41        OREGON
       42        PENNSYLVANIA
       44        RHODE ISLAND
       45        SOUTH CAROLINA
       46        SOUTH DAKOTA
       47        TENNESSEE
       48        TEXAS
       49        UTAH
       50        VERMONT
       51        VIRGINIA
       53        WASHINGTON
       54        WEST VIRGINIA
       55        WISCONSIN
       56        WYOMING

In [158]:
states = {'id':[], 'state':[]}

for l in states_text.split('\n'):
    ll = l.split('      ')
    for lll in ll:
        if len(lll.strip()) > 0:
            if lll.strip().isdigit():
                states['id'].append(lll.strip())
            else:
                states['state'].append(lll.strip())

In [159]:
states_df = pd.DataFrame(states)

In [160]:
states_df

    id                 state
0   01               ALABAMA
1   02                ALASKA
2   04               ARIZONA
3   05              ARKANSAS
4   06            CALIFORNIA
5   08              COLORADO
6   09           CONNECTICUT
7   10              DELAWARE
8   11  DISTRICT OF COLUMBIA
9   12               FLORIDA
10  13               GEORGIA
11  15                HAWAII
12  16                 IDAHO
13  17              ILLINOIS
14  18               INDIANA
15  19                  IOWA
16  20                KANSAS
17  21              KENTUCKY
18  22             LOUISIANA
19  23                 MAINE
20  24              MARYLAND
21  25         MASSACHUSETTS
22  26              MICHIGAN
23  27             MINNESOTA
24  28           MISSISSIPPI
25  29              MISSOURI
26  30               MONTANA
27  31              NEBRASKA
28  32                NEVADA
29  33         NEW HAMPSHIRE
30  34            NEW JERSEY
31  35            NEW MEXICO
32  36              NEW YORK
33  37        NORTH CAROLINA
34  38          NORTH DAKOTA
35  39                  OHIO
36  40              OKLAHOMA
37  41                OREGON
38  42          PENNSYLVANIA
39  44          RHODE ISLAND
40  45        SOUTH CAROLINA
41  46          SOUTH DAKOTA
42  47             TENNESSEE
43  48                 TEXAS
44  49                  UTAH
45  50               VERMONT
46  51              VIRGINIA
47  53            WASHINGTON
48  54         WEST VIRGINIA
49  55             WISCONSIN
50  56               WYOMING

In [161]:
# save dataframe
states_df.to_csv('./us_state_codes.csv',index=False)

### Putting things together with geospatial info

In [162]:
from vega_datasets import data

In [163]:
states_geo_in = geopandas.read_file(data.us_10m.url,layer='states')

In [164]:
state_names = []
for i in states_geo_in['id'].values:
    d = states_df[states_df['id']==str(i).zfill(2)]
    if len(d) != 1:
        if int(i) == 72:
            n = 'Puerto Rico'
            state_names.append(n)
        elif int(i) == 78:
            state_names.append('U.S. Virgin Islands')
        else:
            print('issue with not having the right name! ID=',i)
        #import sys; sys.exit()
    else:
        n = d['state'].values[0]
        state_names.append(n)
    #print(n)

states_geo = states_geo_in.copy()
states_geo['State'] = state_names

In [165]:
#states_geo

In [166]:
# save to file
with open('./us_states_geo.geojson','w') as f:
    print(states_geo.to_json(),file=f)

In [ ]:
#states_geo_in = geopandas.read_file('./us_states_geo.geojson')

In [167]:
states_geo

,id,geometry,State
0,2,"MULTIPOLYGON (((179.24009 51.34855, 178.94217 ...",ALASKA
1,15,"MULTIPOLYGON (((-155.68054 18.91039, -155.7953...",HAWAII
2,72,"MULTIPOLYGON (((-65.53182 18.07995, -65.57849 ...",Puerto Rico
3,1,"MULTIPOLYGON (((-86.83429 34.99115, -86.78404 ...",ALABAMA
4,5,"POLYGON ((-94.07748 36.4984, -93.86571 36.4984...",ARKANSAS
5,4,"POLYGON ((-109.99959 36.99742, -109.04484 36.9...",ARIZONA
6,6,"MULTIPOLYGON (((-118.42725 32.80225, -118.4990...",CALIFORNIA
7,8,"POLYGON ((-106.32056 40.99868, -106.19135 40.9...",COLORADO
8,9,"MULTIPOLYGON (((-73.05499 42.03968, -73.00832 ...",CONNECTICUT
9,11,"MULTIPOLYGON (((-77.01757 38.80924, -77.09653 ...",DISTRICT OF COLUMBIA
10,10,"MULTIPOLYGON (((-75.42392 39.80673, -75.61774 ...",DELAWARE
11,12,"MULTIPOLYGON (((-80.36638 25.16232, -80.38073 ...",FLORIDA
12,13,"MULTIPOLYGON (((-81.47906 30.79706, -81.51136 ...",GEORGIA
13,19,"POLYGON ((-91.21681 43.50074, -91.20605 43.422...",IOWA
14,16,"POLYGON ((-116.04755 49.00065, -116.04755 48.5...",IDAHO
15,17,"POLYGON ((-90.42717 42.507, -89.92467 42.50593...",ILLINOIS
16,18,"POLYGON ((-85.78621 41.75929, -85.66059 41.759...",INDIANA
17,20,"POLYGON ((-101.41041 40.00226, -101.32427 40.0...",KANSAS
18,21,"MULTIPOLYGON (((-84.62328 39.07405, -84.50483 ...",KENTUCKY
19,22,"MULTIPOLYGON (((-91.13785 29.2146, -91.27783 2...",LOUISIANA
20,25,"MULTIPOLYGON (((-70.01485 41.23771, -70.21585 ...",MASSACHUSETTS
21,24,"MULTIPOLYGON (((-76.3679 38.83556, -76.31047 3...",MARYLAND
22,23,"MULTIPOLYGON (((-68.68322 44.14693, -68.67246 ...",MAINE
23,26,"MULTIPOLYGON (((-86.00516 45.05418, -86.059 45...",MICHIGAN
24,27,"MULTIPOLYGON (((-94.42923 48.70092, -94.3072 4...",MINNESOTA
25,29,"POLYGON ((-91.71573 40.5985, -91.41781 40.3777...",MISSOURI
26,28,"MULTIPOLYGON (((-88.36332 34.99545, -88.20181 ...",MISSISSIPPI
27,30,"POLYGON ((-114.06985 48.99904, -113.71092 48.9...",MONTANA
28,37,"MULTIPOLYGON (((-75.48135 35.67119, -75.4634 3...",NORTH CAROLINA
29,38,"POLYGON ((-97.22888 49.00065, -97.1894 48.8137...",NORTH DAKOTA
30,31,"POLYGON ((-101.22735 42.99796, -100.19723 42.9...",NEBRASKA
31,33,"MULTIPOLYGON (((-71.00909 44.28444, -70.98755 ...",NEW HAMPSHIRE
32,34,"MULTIPOLYGON (((-75.36649 39.34424, -75.40597 ...",NEW JERSEY
33,35,"POLYGON ((-103.00047 37.0001, -103.00406 36.50...",NEW MEXICO
34,32,"POLYGON ((-114.28162 41.99348, -114.04113 41.9...",NEVADA
35,36,"MULTIPOLYGON (((-74.25022 40.49644, -74.18561 ...",NEW YORK
36,39,"MULTIPOLYGON (((-80.52072 41.84953, -80.52072 ...",OHIO
37,40,"POLYGON ((-100.08955 37.00225, -100.00341 37.0...",OKLAHOMA
38,41,"MULTIPOLYGON (((-123.66762 46.17361, -123.5384...",OREGON
39,42,"MULTIPOLYGON (((-79.60904 41.99671, -79.05987 ...",PENNSYLVANIA
40,44,"MULTIPOLYGON (((-71.32495 41.50682, -71.2388 4...",RHODE ISLAND
41,45,"MULTIPOLYGON (((-80.82222 32.10879, -80.72531 ...",SOUTH CAROLINA
42,46,"POLYGON ((-101.99905 45.94479, -100.51667 45.9...",SOUTH DAKOTA
43,47,"POLYGON ((-87.69572 36.63699, -87.64188 36.637...",TENNESSEE
44,48,"MULTIPOLYGON (((-97.30785 26.64969, -97.28631 ...",TEXAS
45,49,"POLYGON ((-111.04766 42.00154, -111.04407 41.5...",UTAH
46,51,"MULTIPOLYGON (((-75.4634 37.89823, -75.4634 37...",VIRGINIA
47,50,"POLYGON ((-72.55248 45.00799, -71.89564 45.007...",VERMONT
48,53,"MULTIPOLYGON (((-122.87798 47.16251, -122.9210...",WASHINGTON
49,55,"MULTIPOLYGON (((-86.87377 45.33189, -86.95632 ...",WISCONSIN
50,54,"POLYGON ((-80.52072 40.4771, -80.51713 40.3986...",WEST VIRGINIA
51,56,"POLYGON ((-108.6213 45.00047, -108.24801 44.99...",WYOMING
52,78,"MULTIPOLYGON (((-64.90011 17.6744, -64.87139 1...",U.S. Virgin Islands

## US Counties

In [168]:
counties = {'id':[], 'county':[]}

for l in counties_text.split('\n'):
    ll = l.split('    ')
    for lll in ll:
        if len(lll.strip()) > 0:
            if lll.strip().isdigit():
                counties['id'].append(lll.strip())
            else:
                if '(' not in lll:
                    c = lll.strip()
                    counties['county'].append(c)
                else:
                    c = lll.split('(')[0] # take out any notes
                    c = c.strip()
                    # > 0?
                    if len(c) > 0:
                        counties['county'].append(c)
    # check
    if len(counties['id']) != len(counties['county']):
        print('mis match length')
        import sys; sys.exit()

In [169]:
#counties['id'][-5:], counties['county'][-5:]

In [170]:
counties_df = pd.DataFrame(counties)

In [171]:
counties_df

         id             county
0     01000            Alabama
1     01001     Autauga County
2     01003     Baldwin County
3     01005     Barbour County
4     01007        Bibb County
...     ...                ...
3190  56037  Sweetwater County
3191  56039       Teton County
3192  56041       Uinta County
3193  56043    Washakie County
3194  56045      Weston County

[3195 rows x 2 columns]

In [172]:
# save dataframe
counties_df.to_csv('./us_county_codes.csv',index=False)

In [173]:
# also with geospatial stuff
counties_geo_in = geopandas.read_file(data.us_10m.url,layer='counties')

In [174]:
counties_geo_in['id']

0       22051
1       53000
2       53073
3       30105
4       30029
        ...
3226    72037
3227    72069
3228    72147
3229    78010
3230    72051
Name: id, Length: 3231, dtype: object

In [175]:
counties_df['id']

0       01000
1       01001
2       01003
3       01005
4       01007
        ...
3190    56037
3191    56039
3192    56041
3193    56043
3194    56045
Name: id, Length: 3195, dtype: object

In [176]:
county_names = []
for i in counties_geo_in['id'].values:
    d = counties_df[counties_df['id'].astype('int')==int(i)]
    if len(d) != 1:
        if int(i) == 8014:
            county_names.append('Broomfield county')
        elif int(i) == 12086:
            county_names.append('Miami-Dade County')
        # elif int(i) == 72125:
        #     county_names.append('San German Municipio')
        # elif int(i) == 72003:
        #     county_names.append('Aguada Municipio')
        else:
            print('issue with not having the right name! ID=',i)
            #import sys; sys.exit()
            # ignore
            county_names.append('NaN')
    else:
        n = d['county'].values[0]
        county_names.append(n)
    #print(n)

counties_geo = counties_geo_in.copy()
counties_geo['County'] = county_names

# subset
counties_geo = counties_geo[counties_geo['County']!='NaN']

issue with not having the right name! ID= 72125
issue with not having the right name! ID= 72003
issue with not having the right name! ID= 72097
issue with not having the right name! ID= 72065
issue with not having the right name! ID= 72055
issue with not having the right name! ID= 72083
issue with not having the right name! ID= 72025
issue with not having the right name! ID= 72045
issue with not having the right name! ID= 72133
issue with not having the right name! ID= 72121
issue with not having the right name! ID= 72027
issue with not having the right name! ID= 72001
issue with not having the right name! ID= 72111
issue with not having the right name! ID= 72047
issue with not having the right name! ID= 72091
issue with not having the right name! ID= 72013
issue with not having the right name! ID= 72145
issue with not having the right name! ID= 72031
issue with not having the right name! ID= 72061
issue with not having the right name! ID= 72129
issue with not having the right name! ID= 72075
issue with not having the right name! ID= 72063
issue with not having the right name! ID= 72073
issue with not having the right name! ID= 72143
issue with not having the right name! ID= 72011
issue with not having the right name! ID= 72081
issue with not having the right name! ID= 72079
issue with not having the right name! ID= 72009
issue with not having the right name! ID= 72099
issue with not having the right name! ID= 72023
issue with not having the right name! ID= 72109
issue with not having the right name! ID= 72101
issue with not having the right name! ID= 72005
issue with not having the right name! ID= 72059
issue with not having the right name! ID= 72021
issue with not having the right name! ID= 72141
issue with not having the right name! ID= 72041
issue with not having the right name! ID= 72123
issue with not having the right name! ID= 72131
issue with not having the right name! ID= 72035
issue with not having the right name! ID= 72135
issue with not having the right name! ID= 72115
issue with not having the right name! ID= 72054
issue with not having the right name! ID= 72105
issue with not having the right name! ID= 72017
issue with not having the right name! ID= 72127
issue with not having the right name! ID= 72139
issue with not having the right name! ID= 72057
issue with not having the right name! ID= 72153
issue with not having the right name! ID= 72043
issue with not having the right name! ID= 72149
issue with not having the right name! ID= 72039
issue with not having the right name! ID= 72113
issue with not having the right name! ID= 72107
issue with not having the right name! ID= 72071
issue with not having the right name! ID= 72007
issue with not having the right name! ID= 72019
issue with not having the right name! ID= 72093
issue with not having the right name! ID= 72151
issue with not having the right name! ID= 72137
issue with not having the right name! ID= 78030
issue with not having the right name! ID= 78020
issue with not having the right name! ID= 72049
issue with not having the right name! ID= 72089
issue with not having the right name! ID= 72087
issue with not having the right name! ID= 72095
issue with not having the right name! ID= 72119
issue with not having the right name! ID= 72103
issue with not having the right name! ID= 72085
issue with not having the right name! ID= 72029
issue with not having the right name! ID= 72053
issue with not having the right name! ID= 72077
issue with not having the right name! ID= 72037
issue with not having the right name! ID= 72069
issue with not having the right name! ID= 72147
issue with not having the right name! ID= 78010
issue with not having the right name! ID= 72051

In [177]:
counties_geo

,id,geometry,County
0,22051,MULTIPOLYGON EMPTY,Jefferson Parish
1,53000,"POLYGON ((-122.65544 48.41032, -122.65544 48.4...",Washington
2,53073,"MULTIPOLYGON (((-120.85361 49.00011, -120.7674...",Whatcom County
3,30105,"POLYGON ((-106.11238 48.99904, -106.15187 48.8...",Valley County
4,30029,"POLYGON ((-114.06985 48.99904, -114.05908 48.8...",Flathead County
...,...,...,...
3149,2201,"POLYGON ((-133.52741 55.6952, -133.69611 55.78...",Prince of Wales-Outer Ketchikan Census Area
3150,2201,"POLYGON ((-133.25822 55.77416, -133.34436 55.8...",Prince of Wales-Outer Ketchikan Census Area
3151,2201,"POLYGON ((-133.72123 55.90146, -133.81814 55.9...",Prince of Wales-Outer Ketchikan Census Area
3152,2201,"POLYGON ((-132.928 56.0148, -132.928 56.01749,...",Prince of Wales-Outer Ketchikan Census Area
3153,2201,"POLYGON ((-132.26398 55.73763, -132.2245 55.74...",Prince of Wales-Outer Ketchikan Census Area

In [178]:
d

Empty DataFrame
Columns: [id, county]
Index: []

In [179]:
counties_geo

,id,geometry,County
0,22051,MULTIPOLYGON EMPTY,Jefferson Parish
1,53000,"POLYGON ((-122.65544 48.41032, -122.65544 48.4...",Washington
2,53073,"MULTIPOLYGON (((-120.85361 49.00011, -120.7674...",Whatcom County
3,30105,"POLYGON ((-106.11238 48.99904, -106.15187 48.8...",Valley County
4,30029,"POLYGON ((-114.06985 48.99904, -114.05908 48.8...",Flathead County
...,...,...,...
3149,2201,"POLYGON ((-133.52741 55.6952, -133.69611 55.78...",Prince of Wales-Outer Ketchikan Census Area
3150,2201,"POLYGON ((-133.25822 55.77416, -133.34436 55.8...",Prince of Wales-Outer Ketchikan Census Area
3151,2201,"POLYGON ((-133.72123 55.90146, -133.81814 55.9...",Prince of Wales-Outer Ketchikan Census Area
3152,2201,"POLYGON ((-132.928 56.0148, -132.928 56.01749,...",Prince of Wales-Outer Ketchikan Census Area
3153,2201,"POLYGON ((-132.26398 55.73763, -132.2245 55.74...",Prince of Wales-Outer Ketchikan Census Area

In [180]:
# save to file
with open('./us_counties_geo.geojson','w') as f:
    print(counties_geo.to_json(),file=f)

## World Countries

In [181]:
countries_geo_in = geopandas.read_file(data.world_110m.url,layer='countries')

In [182]:
countries_df = pd.read_json('./world-110m-country-codes.json')

In [183]:
countries_df.head()

  code  id         name
0   AF   4  Afghanistan
1   AL   8      Albania
2   DZ  12      Algeria
3   AO  24       Angola
4   AQ  10   Antarctica

In [184]:
countries_geo_in.head()

    id                                           geometry
0    4  POLYGON ((61.20961 35.64925, 62.23202 35.27011...
1   24  MULTIPOLYGON (((23.91324 -10.92658, 24.01764 -...
2    8  POLYGON ((20.59041 41.85586, 20.4644 41.51565,...
3  784  POLYGON ((51.57952 24.24479, 51.75592 24.29387...
4   32  MULTIPOLYGON (((-66.95887 -54.89756, -67.56368...

In [185]:
country_names = []
code = []
for i in countries_geo_in['id'].values:
    d = countries_df[countries_df['id'].astype('int')==int(i)]
    if len(d) != 1:
        print('issue with not having the right name! ID=',i )
        #import sys; sys.exit()
        # ignore
        country_names.append('NaN')
        code.append('NaN')
    else:
        n = d['name'].values[0]
        country_names.append(n)
        code.append(d['code'].values[0])
    #print(n)

countries_geo = countries_geo_in.copy()
countries_geo['Country'] = country_names
countries_geo['code'] = code

# subset
countries_geo = countries_geo[countries_geo['Country']!='NaN']

issue with not having the right name! ID= -99
issue with not having the right name! ID= -99
issue with not having the right name! ID= 275
issue with not having the right name! ID= -99

In [186]:
# save to file
with open('./world_countries_geo.geojson','w') as f:
    print(countries_geo.to_json(),file=f)

In [187]:
countries_geo

,id,geometry,Country,code
0,4,"POLYGON ((61.20961 35.64925, 62.23202 35.27011...",Afghanistan,AF
1,24,"MULTIPOLYGON (((23.91324 -10.92658, 24.01764 -...",Angola,AO
2,8,"POLYGON ((20.59041 41.85586, 20.4644 41.51565,...",Albania,AL
3,784,"POLYGON ((51.57952 24.24479, 51.75592 24.29387...",United Arab Emirates,AE
4,32,"MULTIPOLYGON (((-66.95887 -54.89756, -67.56368...",Argentina,AR
...,...,...,...,...
172,548,"MULTIPOLYGON (((167.51508 -16.59835, 167.18027...",Vanuatu,VU
173,887,"POLYGON ((52.38592 16.38285, 52.19152 15.93771...",Yemen,YE
174,710,"POLYGON ((28.21888 -32.77244, 27.46287 -33.227...",South Africa,ZA
175,894,"POLYGON ((32.75853 -9.23064, 33.23013 -9.67747...",Zambia,ZM
176,716,"POLYGON ((31.19251 -22.25149, 30.65971 -22.151...",Zimbabwe,ZW